<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <%- include('EJS_header') %>
        <div> 내용입니다. </div>
        <%- include('EJS_footer', { category: 'Node.js' }) %>
    </body>
</html>