include header
main
    h1 메인파일
    p 다른 파일을 include할 수 있습니다
include footer


//<header>   html경우
    <a href="/">Home</a>
    <a href="/about">About</a>
  <header>
  <main>
    <h1>메인 파일</h1>
    <p>다른 파일을 include할 수 있습니다 </p>
  </main>
  <footer>
    <div>푸터입니다.</div>
  </footer>