//<!DOCTYPE html>
doctype html
//<html>
html 
    //<head>
    head    
        //<title>익스프레스</title>
        title = title
        //<link rel= "stylesheet" href="/stylesheets/style.css">
        link(rel='stylesheet'href='/stylesheets/style.css')

        //<div id="login-button"></div>
        #login-button
        //<div class="post-image"</div>
        .post-image
        //<span id="highlight"></span>
        span#highlight
        //<p class="hidden full"></p>
        p.hidden.full
        //<p>Welcome to Express</p>
        p Welcome to Express
        //<button type="sumbit">전송</button>
        button(type='submit') 전송
        //<p>안녕하세요. 여러 줄을 입력합니다. <br />태그도 중간에 넣을 수 있습니다. </p>
        p
            |안녕하세요
            |여러 줄을 입력합니다.
            br
            |태그도 중간에 넣을 수 있습니다.