//<ul> each로 반복문 돌리기
ul
    //<li>사과</li>
    //<li> 배 </li>
    //<li> 오렌지 </li>
    //<li>바나나</li>
    //<li> 복숭아</li>
    //</ul>
    each fruit in ['사과','배','오렌지','바나나','복숭아']
        li= fruit


//반복문 사용 시 인덱스도 가져올 수 있다. 
//<ul>
ul  
    //<li>1번째 사과 </li>
    //<li>2번째 배</li>
    //<li>3번째 오렌지</li>
    //<li>4번째 바나나</li>
    //<li>5번째 복숭아</li>
    //</ul>
    each fruit, index in ['사과','배','오렌지','바나나','복숭아']
        li= (index +1)+ '번째' + fruit