//<!-- isLoggedIn이 true일 때 -->
if isLoggedIn
    //<div>로그인 되었습니다.</div>
    div 로그인이 되었습니다
//<!-- isLoggedIn이 false일 때 -->
else
    //<div> 로그인이 필요합니다.</div>
    div 로그인이 필요합니다



//case 문
case fruit
    //<!-- fruit이 apple 일때 -->
    //<p>사과입니다.</p>
    when 'apple'
        p 사과입니다
    //<!-- fruit이 banana 일때 -->
    //<p>바나나입니다.</p>
    when 'banana'
        p 바나나입니다.
    //<!-- fruit이 orange 일때 -->
    //<p>오렌지입니다.</p>
    when 'orange'
        p 오렌지입니다
    //<!-- 기본값 -->
    //<p>사과도 바나나도 오렌지도 아닙니다.</p>
    default
        p  사과도 바나나도 오렌지도 아닙니다.
